APP_ENV=local
APP_DEBUG=false
APP_NAME="Sistema PREP"

LOCAL_DB_HOST=localhost
LOCAL_DB_DATABASE=admin_prep
LOCAL_DB_USERNAME=usuario_local
LOCAL_DB_PASSWORD=clave_local

PRODUCTION_DB_HOST=localhost
PRODUCTION_DB_DATABASE=admin_prep
PRODUCTION_DB_USERNAME=usuario_produccion
PRODUCTION_DB_PASSWORD=clave_produccion

GOOGLE_MAPS_API_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

PROMOVIDO_DB_HOST=localhost
PROMOVIDO_DB_DATABASE=
PROMOVIDO_DB_USERNAME=
PROMOVIDO_DB_PASSWORD=
